h1 {
    font-family: fantasy;
    border-bottom-style: double;
    border-bottom-width: 10px;
    margin: 0;
    padding: 0;
    text-align: center;
    
}

div.img_container {
    width: 80%;
    margin-left:auto;
    margin-right: auto;
    max-width: 800px;
}

img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-family: sans-serif;
}

p.section2 {
    font-family: monospace;
}

p#teaser {
    font-weight: bold;
    font-size: 1.25em;
}


@media screen and (min-width: 800px) {
    * {color: blue;}
}